#Wrapper{
                width: 90%;
                font-family: sans-serif;
                float: right;
            }
            
            .Header{
            margin: auto;
            width: 95%;
            border-style: solid;
            border-width: 10px;
            border-color: cornflowerblue;
            background-color: cornflowerblue;
            color: white;
            font-weight: 300;
            
            }
            

            
            .RightText{
                float:right;
            }
            
            .County{
                margin:auto;
                width: 91%;
                border-bottom-style: double;
                font-size: 16px;
                color:darkblue;
                border-bottom-color: black;
                font-weight: bold;
                
            }
            
            .ChartTitle{
                margin: auto;
                width: 90%;
                color:darkblue;
                font-weight: bold;
                font-size: 10px;
            }

            #Chart0{
                margin: auto;
                margin-left: 0%;
                width: 100%;
                
            }
            
            #Chart1{
                margin: 0;
                margin-left: 0%;
                width: 100%;
                
            }
            
            #Chart2{
                margin: auto;
                margin-left: 0%;
                width: 100%;
                
            }
            
            #Chart3{
                margin: auto;
                margin-left: 0%;
                width: 100%;
                
            }
            
            #Chart4{
                margin: auto;
                margin-left: 0%;
                width: 100%;
                
            }
            
            #ChartFive{
                margin: auto;
                margin-left: 0%;
                width: 100%;
                
            }
            
            #Chart6{
                margin: auto;
                margin-left: 0%;
                width: 100%;
                
            }
            
            #Chart7{
                margin: auto;
                margin-left: 0%;
                width: 0;
                height: 0;
                margin-bottom: 5px;
                visibility: hidden;
            }
            
            #table2{
                
            }
            
            .logo{
                width: 0;
                visibility: collapse;
            }
            
            .ChartDiv{
                margin:auto;
                width:95%;
                border-bottom-style: solid;
                border-bottom-color: gainsboro;
            }
            
            #Chart8{
                margin: auto;
                margin-left: 0%;
                width: 100%;
            }

            #Chart9{
                margin: auto;
                margin-left: 0%;
                width: 100%;
            }

            #Chart10{
                margin: auto;
                margin-left: 0%;
                width: 100%;
            }

            #Chart11{
                margin: auto;
                margin-left: 0%;
                width: 100%;
            }

            #Chart12{
                margin: auto;
                margin-left: 0%;
                width: 100%;
            }

            #Chart13{
                margin: auto;
                margin-left: 0%;
                width: 100%;
            }

            #Chart14{
                margin: auto;
                margin-left: 0%;
                width: 100%;
            }

            #Chart15{
                margin: auto;
                margin-left: 0%;
                width: 100%;
            }

            .buttons{
                
            }
            
            .Table{
                margin:auto;
                width:98%;
            }
            
            #scrollTable{
                margin:auto;
                width:95%;
                height: 200px;
                overflow-y:auto;
                margin-bottom: 20px;
            }
            
            .HeadRow{
                border-top-style: solid;
                border-top-color: #5281B7;
                border-bottom-style: solid;
                border-bottom-color:#5281B7; 
            }
            
            .FootRow{
                border-bottom-style: solid;
                border-bottom-color: #5281B7;
            }
            
            .Footer{
                margin:auto;
                width: 60%;
            }
            
            .FootRight{
                float:right;
            }
            
            .FootLeft{
   
            }
            
            
            
            a {
                color: white;
            }
            
            table {
                border: solid;
                border-color: #D3DFEF;
                border-collapse: collapse;
                width: 100%;
            }
            
            

            th{
                text-align: left;
                padding: 8px;
                color: #36639E;
            } 
            
            td {
                text-align: left;
                padding: 8px;
            }

            .dimple-custom-axis-label {
                font-size: 12pt !important;
            }

            .dimple-custom-axis-title {
                font-size: 12pt !important;
            }
            
            text.dimple-tooltip {
                font-size: 10pt !important;
            }

            .dimple-custom-legend-label{
                font-size: 10pt !important;
            }

.sidebutton{
                margin-top: 7.5px;
    height: 62%;
    width: 10%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 1;
    background-color: gray;
    overflow-x: hidden;
    padding-top: 3px;
            }

.button {
    padding: 10px 10% 10px 10%;
    margin: 5px 1px 0px 7px;
    width: 90%;
    align-items: center;
    text-decoration: none;
    font-size: 11px;
    text-align: center;
    color: #2196F3;
    display:flex;
    background: linear-gradient(to top, #cbcbcb, white);
}
            .dropdown-content {
    display: none;
    position: absolute;
    background-color: #404040;
    min-width: 160px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
    padding: 0px 15px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
            
td:nth-child(1){
    font-weight: bold;
    

}

            
tr:nth-child(even){
    background-color: #D3DFEF
}
tr:nth-child(odd){
    background-color: #FFFFFF
}




@page {
       
    }
    @media print {
        #scrollTable{
                margin:auto;
                width:95%;
            height: 95%;
            overflow: visible;
            }
    }


            
                        
            
            